extends layout

block content
  div.alert
    strong 快訊！
    劉正紅又要拆房子了！！！
  div.page-header
    h1 美麗灣事件
      small 相關判決列表
  h2= lawsuit.title
  h3 官司進度
  ol
    li
      a 一審
    li
      a 二審
    li
      a 三審
  div.panel.panel-default
    div.panel-heading
      h2.panel-title
        a.accordion-toggle(data-toggle='collapse', data-parent='#lawsuits', href='#'+lawsuit.id)= lawsuit.title
    #div.panel-collapse.collapse(id=lawsuit.id)
      div.panel-body
        p= lawsuit.content
  h3 相關法律
  ul
    li
      h4 法律一
      p 我是法律一的內容
  h3 相關律師
  ul
    each type, lawer in {'法官A':'label-info', '法官B':'label-warning', '律師A':'label-success', '律師B':'label-default', '律師C':'label-danger'}
      li
        a(href="")
          - var classes = ['label', type]
          span(class=classes)= lawer
